/* Header */

header.navbar {
    width: 100vw;
}
.brand {
    padding: 0 1.5rem;
}

.brand .logo {
    align-items: center;
    display: inline-flex;
    display: -ms-inline-flexbox;
    -ms-flex-align: center;
    height: 2rem;
    padding: .2rem;
    width: auto;
}

.brand .logo img {
    display: inline;
    height: auto;
    width: 1.6rem;
}

.brand .logo h2 {
    display: inline;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: .3rem;
    /* margin-right: .5rem; */
}

/* Footer */

footer {
    margin-top: -1rem;
    color: #bbb;
    font-size: .6rem;
}

footer .footer-content {
    padding-bottom: 0.4rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

footer a {
    color: #bbb;
    font-weight: bold;
}

/* Index page */

.big-logo {
    height: 225px;
    width: 225px;
}

.grid-hero {
    padding-bottom: 2rem;
    padding-top: 2rem;
    /* position: relative; */
}

.grid-hero h1 {
    color: #50596c;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.grid-hero h2 {
    color: #5b657a;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.grid-hero .card {
    background: none;
    border: 0;
    color: #727e96;
    padding: .5rem;
}

.grid-hero .card .card-title {
    color: #5764c6;
    font-size: .9rem;
    margin-bottom: 0;
}

.grid-hero .card .card-header img {
    width: 60px;
}

/* Articles */

.container .blog {
    max-width: 960px;
    padding: 0 4rem;
    margin: 40px auto;
    width: calc(100vw - 12rem);
    resize: vertical;
}

.content {
    line-height: 1.6;
}

div.content.article {
    flex: 1 1 auto;
    max-width: 960px;
    padding: 0 4rem;
    margin: 40px auto;
    width: calc(100vw - 12rem);
    color: #222C41;
}

@media (max-width: 880px) {
    .container .blog {
        min-width: auto;
        padding: 0 2.5rem;
        width: 100%;
    }
    div.content.article {
        min-width: auto;
        padding: 0 2.5rem;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .container .blog {
        padding: 0 .5rem;
    }
    div.content.article {
        padding: 0 .5rem;
    }
}

.article .back-link {
    padding-bottom: 1rem;
}

.article ul {
    margin-top: 0rem;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.article p + ul {
    margin-top: -0.8rem;
}

.article li {
    margin-top: 0.2rem;
}

.article pre {
    border-radius: .1em;
    line-height: .85rem;
}

.article pre code {
    padding: .75rem;
    display: block;
    overflow-x: auto;
    color: #333;
    background: #f8f8f8;
    line-height: inherit;
}

br.inlist {
    font-size: 150%;
}

.discussion-links img {
    height: 1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
}

.discussion-links a {
    margin-left: 2em;
    margin-right: 2em;
}

#tooltip {
    left: -1000px;
    position: absolute;
    max-width: 320px;
    border-radius: .1rem;
    font-size: .7rem;
    text-overflow: ellipsis;
    background: #f0f0f0;
    padding: 3px;
    border: 1px solid gray;
}

/* Comments */

#isso-root .avatar {
    background: unset;
    height: unset;
    line-height: unset;
    width: 6%;
}

#isso-root .isso-comment-header {
    line-height: 1.6;
}

#isso-thread > div.isso-postbox > div > section > p:nth-child(3) {
    display: none;
}

#isso-root .isso-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

/* Knowledge base */

.kb.container {
    display: flex;
    min-height: calc(100vh - 3.5rem);
}

.kb .content {
    flex: 1 1 auto;
    max-width: 960px;
    margin: 40px auto;
    /* width: calc(100vw - 12rem); */
    resize: vertical;
}

.kb div.content.article {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 10px;
}

@media (min-width: 880px) {
    .off-canvas .off-canvas-sidebar {
        position: relative;
        transform: none;
    }

    .off-canvas .off-canvas-toggle {
        display: none;
    }

    .kb div.content.article {
        padding-right: 4rem;
    }
}

.off-canvas .off-canvas-toggle {
    top: -0.8rem;
}

.off-canvas .off-canvas-sidebar {
    background: unset;
    flex: 0 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    /* width: 12rem; */
}

.off-canvas-sidebar:target {
    background: #f7f8f9;
}

.off-canvas .off-canvas-content {
    padding: 0 0;
}

.kb .nav {
    margin-top: 0;
    margin-bottom: 0;
}

.kb .divider-vert {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.kb ol.toc {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 85%;
    /* margin-bottom: 1em; */
    padding: 10px;
    width: auto;
    float: right;
}

.article figure {
    margin-bottom: 1rem;
}

.kb .toc ol {
    margin: 0 1em;
}

.kb iframe {
    border:1px solid #888;
}

div.downscale-iframe-66 {
    width: 100%;
    display: grid;
}

.downscale-iframe-66 iframe {
    width: 150%;
    -moz-transform: scale(0.666);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.666);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.666);
    -webkit-transform-origin: 0 0;
}
