<!DOCTYPE html>
<html>
  <head>
    {% include "/html/google-analytics.html" %}
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block meta-desc %}
    <title>{{title}}</title>
    <!-- Twitter -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="{{site-url}}/img/logo-ua.png">
    {% endblock %}
    <link rel="icon" type="image/png" href="/img/favicon-ua.png">
    {% style "//cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre.min.css" %}
    {% style "//cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre-exp.min.css" %}
    {% style "//cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre-icons.min.css" %}
    {% style "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" %}
    {% style "/css/custom.css" %}

    <script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script defer src="/js/clojure.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/java.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/bash.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/shell.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/x86asm.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/armasm.min.js"></script>
    <script>window.addEventListener('load', () => hljs.highlightAll());</script>
  </head>
  <body>
    {% block content %}[[TEMPLATING ERROR]]{% endblock %}
    <footer class="text-center">
      <div class="divider">
      </div>
      <div class="footer-content">
        <span>© 2017-{% now yyyy %} <a href="mailto:alex@bytopia.org">Oleksandr Yakushev</a>. </span>
        <span>Made with <a href="https://cryogenweb.org/" target="_blank">Cryogen</a>. </span>
        <span>Logo is derived from <a href="https://commons.wikimedia.org/wiki/File:Clojure_logo.svg" target="_blank">Clojure logo</a>, copyright by Rich Hickey. </span>
        <span>Icons from <a href="https://iconmonstr.com/" target="_blank">Iconmonstr</a>.</span>
      </div>
    </
  </body>
</html>
