{% extends "/html/base.html" %}

{% block meta-desc %}
<title>Clojure Goes Fast</title>
<meta property="og:title" content="Clojure Goes Fast">
<meta property="og:description" content="High-performance Clojure made simple.">
<meta property="og:image" content="{{site-url}}/img/logo-ua.png">
{% endblock %}

{% block content %}
<div class="section section-hero">
    <div class="container grid-hero grid-lg text-center">
        <img class="big-logo" src="/img/logo-ua.png">
        <h1>Clojure Goes Fast</h1>
        <h2>A hub for news, docs, and tools related to Clojure and high performance.</h2>
        <div class="columns">
          {% include "/html/index-card.html" with card-title="Knowledge base" card-icon="/img/icons/book.svg" link="/kb/" body="Study up-to-date guides about what makes Clojure slow and how to make it fast." %}
          {% include "/html/index-card.html" with card-title="Blog posts" card-icon="/img/icons/script.svg" link="/blog/" body="Follow the latest articles about techniques for achieving high performance in Clojure." %}
          {% include "/html/index-card.html" with card-title="Consulting" card-icon="/img/icons/consulting.svg" link="/consulting/" body="Receive personalized guidance and support for your individual performance needs." %}
          {% include "/html/index-card.html" with card-title="Source code" card-icon="/img/icons/github.svg" link="https://github.com/clojure-goes-fast/" is-link-blank="true" body="Discover performance-related libraries and tools and contribute to their development." %}
        </div>
    </div>
</div>
{% endblock %}
